body{
	font-family: 'Montserrat', sans-serif;
}
.fuente-normal{
	font-weight: map-get($fuentes, regular);
}

@each $fo, $nt in $fuentes{
	.font-#{$fo}{
		font-weight: $nt;
	}
}

@mixin color-base($color){
	@if($color){
		.color-mode{
			background-color: black;
		}
	}@else{
		.color-mode{
			background-color: white;
		}
	}
}
@include color-base(false);











